{% extends "base.html" %}
{% block leftcontents %}
{% include "left.html" %}
{% endblock %}
{% block centercontents %}
<h1>Episodes</h1>
{% for episode in data.episodes|sort(attribute='number') %}
<a name="ep{{ episode.number }}"><h2>#{{ episode.number }}: {{ episode.title }}</h2>

<div class="details">Downloads: <a href="episodes/{{ episode.ogg|urlencode }}">ogg</a> - <a href="episodes/{{ episode.mp3|urlencode }}">mp3</a> - <a href="https://youtu.be/{{ episode.yt }}/">YouTube</a>{% if episode.slides is defined %} - <a href="slides/{{ episode.slides|urlencode }}">slides</a>{% endif %}</div>
<div class="details italic">Duration: {{ episode.duration }} - Date: {{ episode.pubdate }}</div>
<div class="details">
<audio controls>
    <source src="episodes/{{ episode.ogg|urlencode }}" type="audio/ogg">
    <source src="episodes/{{ episode.mp3|urlencode }}" type="audio/mpeg">
    <p>Cannot play audio in your browser due to lacking support. Please use the downlaod links below instead.</p>
</audio>
</div>
<p>{{ episode.description }}</p>
{% if episode.subdesc %}
{% for sd in episode.subdesc %}
<p>{{ sd }}</p>
{% endfor %}
{% endif %}
{% endfor %}

<h2>License</h2>

<p>The foss-north pod is made available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license. Intro music made available under CC BY-SA by <a href="https://hub.volse.no/channel/harald">Harald Eilertsen</a>.</p>
{% endblock %}
