{% extends "page.html" %}
{% block bodycontents %}

<a name="top" class="offsetanchor"></a>
<h1>Conference Schedule</h1>


{% if data.general.covidcancelled %}
<div class="alert alert-danger" role="alert">
<p class="mb-0">foss-north {{ data.general.confname }} has been <strong>cancelled due to the current COVID situation</strong>. We are working on bringing you a virtual conference in conjuction with LLW and will come back with more information about time and dates asap.</p>
</div>
{% endif %}

<p>This is the provisional program for foss-north {{ data.general.confname }}.<br />
All sessions include time for Q&amp;A and to move between rooms.</p>

<p>[
{% for day in data.general.confdays %}
{% if not loop.first %}|{% endif %}
<a href='#{{ day.tag }}'>{{ day.name }}</a>
{% endfor %}
]</p>

<a name="apr25" class="offsetanchor"></a>
<h2>April 25</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot1", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td></td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot2", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot3", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">13.00&nbsp;-&nbsp;14.00</td>
            <td >{% with slot="slot4", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot5", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot6", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;17.00</td>
            <td >{% with slot="slot7", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<a name="apr26" class="offsetanchor"></a>
<h2>April 26</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot8", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot9", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot10", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">13.00&nbsp;-&nbsp;14.00</td>
            <td >{% with slot="slot11", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}
            </td>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot12", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot13", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;17.00</td>
            <td >{% with slot="slot14", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

{% endblock %}
