{% extends "page.html" %}
{% block bodycontents %}

<a name="top" class="offsetanchor"></a>
<h1>Conference Schedule</h1>


{% if data.general.covidcancelled %}
<div class="alert alert-danger" role="alert">
<p class="mb-0">foss-north {{ data.general.confname }} has been <strong>converted to a virtual conference due to the COVID situation</strong>.</p>
</div>
{% endif %}

<p>This is the provisional program for foss-north {{ data.general.confname }}.<br />
All sessions include time for Q&amp;A and to move between rooms.</p>

<p>[
{% for day in data.general.confdays %}
{% if not loop.first %}|{% endif %}
<a href='#{{ day.tag }}'>{{ day.name }}</a>
{% endfor %}
]</p>

<a name="apr20" class="offsetanchor"></a>
<h2>April 20</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+1</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">12.00&nbsp;-&nbsp;13.00</td>
            <td >{% with slot="slot1", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td></td>
        </tr>

        <tr>
            <td class="scheduletime">13.00&nbsp;-&nbsp;14.00</td>
            <td >{% with slot="slot2", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot3", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<p>Members of the FSFE legal network can continue by attending the members only <a href="https://fsfe.org/activities/ln/llw-conf.html">LLW conference</a> hosted by FSFE.</p>

<a name="apr21" class="offsetanchor"></a>
<h2>April 21</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+1</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">12.00&nbsp;-&nbsp;13.00</td>
            <td >{% with slot="slot4", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">13.00&nbsp;-&nbsp;13.30</td>
            <td >{% with slot="slot5", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">13.30&nbsp;-&nbsp;14.30</td>
            <td >{% with slot="slot7", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">14.30&nbsp;-&nbsp;15.30</td>
            <td >{% with slot="slot6", showvideolink=true %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<p>Members of the FSFE legal network can continue by attending the members only <a href="https://fsfe.org/activities/ln/llw-conf.html">LLW conference</a> hosted by FSFE.</p>

{% endblock %}
