{% extends "page.html" %}

{% block bodycontents %}

<h1>Tickets</h1>

<p>Get your ticket via the <a href="https://foss-north.se/events/2024/register/">ticket registration</a> page (requires the setup of an account).</p>

<p><i>
The ticket registration process requires you to register using an OpenID source.
At the moment we support github and Google. If you cannot identify using these
services we offer a manual process. This means getting the ticket via mail and
processing the payment via bank transfer. Please notice that this process
involves a substantial amount of additional work for the organizers so we urge
you to consider using the standard process which is quicker and easier. To
request a ticket manually, please email us at info@foss-north.se with the
subject line "Ticket foss-north 2024".
</i></p>

<p>Tickets bought before <strong>April 1st</strong> include lunch and coffee.
Tickets are still sold until the day before the event, but does not include
catering. We have ordered more food than we’ve sold tickets on April 1st, so we
hope to be able to provide food to all participants, but we cannot guarantee
this due to lead times ordering supplies.</p>

<p>Tickets are sold in the following categories:</p>

<div class="row">
    <div class="col-md-6">
        <div class="toptitle">Student Ticket</div>
        <div class="topsub">{{ data.general.conferencedaysdate }}</div>
        <p><b>300 SEK</b><br />Discounted conference tickets for students. A student ID is required when picking up the event badge.</p>
    </div>
    <div class="col-md-6">
        <div class="toptitle">Conference Ticket</div>
        <div class="topsub">{{ data.general.conferencedaysdate }}</div>
        <p><b>500 SEK</b><br />Conference tickets for non-student visitors.</p>
    </div>
</div>

{% endblock %}
