{% extends "page.html" %}

{% block bodycontents %}
{% markdown %}

# Contribute

A great conference is made by great contents. For great contents we need great sponsors. Please join us in making foss-north {{ confname }} the best foss-north of them all by helping us bring together the best sponsors, contents and audience!

<a name="papers" class="offsetanchor"></a>
## Call for Papers

The foss-north {{ data.general.confname }} will be virtual. Please refer to <a href="index.html">Home</a> for details.

<a name="sponsors" class="offsetanchor"></a>
## Call for Sponsors

We want to create the meeting space for open source communities in the Nordic region. The foss-north event is one step on that path. Nothing of this would be possible by the support of our sponsors.
 
We are looking for sponsors of all sizes to be a part of the foss-north event. We offer the following tiers: 

<div class="bodytext">
    <table class="table table-striped">
    <thead>
    <tr>
        <th class="leftalign">Benefit</th>
        <th>Base</th>
        <th>Silver</th>
        <th>Gold</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="leftalign">Cost</td>
        <td>10kSEK</td>
        <td>25kSEK</td>
        <td><strong>sold out</strong></td>
    </tr>
    <tr>
        <td class="leftalign">Availability</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>2</td>
    </tr>
    <tr>
        <td class="leftalign">Logo and link</td>
        <td>Yes, small</td>
        <td>Yes, large</td>
        <td>Yes, largest</td>
    </tr>
    <tr>
        <td class="leftalign">Mention in keynote</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td class="leftalign">Number of free tickets</td>
        <td>3</td>
        <td>5</td>
        <td>10</td>
    </tr>
    </tbody>
    </table>
</div>

<strike>We are also offering a limited number of booths for our sponsors. Please tell us if you are interested in this.</strike> We are out of exhibition space. Thank you all for the huge interest!

You find a more detailed information in our <a href="sponsorship-2020.pdf">sponsorship prospectus</a>. Prospective sponsors are welcome to contacting <a href="mailto:info@foss-north.se">info@foss-north.se</a>.

{% endmarkdown %}
{% endblock %}
