{% extends "page.html" %}
{% block bodycontents %}

<h1>Conference Schedule</h1>

<p>This is the provisional program for foss-north {{ data.general.confname }}.<br />
All sessions include time for Q&amp;A and to move between rooms.</p>

<a name="nov1" class="offsetanchor"></a>
<h2>Sunday November 1</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot1" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/33a60789-c678-458b-83b6-d321bf64778e">ConfTube</a></td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot2" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/c023f9e8-0bae-4aa1-ac91-bfc5f21c46aa">ConfTube</a></td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot3" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/a3a7ca25-d336-4a3d-a05a-71966c7e6f72">ConfTube</a></td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot4" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/04fc5f6f-5007-4a6a-b8f2-05944754f6bb">ConfTube</a></td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot5" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/b4ec189e-a4f1-4e2d-a67e-961a4529e9e9">ConfTube</a></td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;17.00</td>
            <td >{% with slot="slot6" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td class="scheduletime"><a href="https://conf.tube/videos/watch/d519c5aa-50e5-4359-9a7b-456bdfbaba50">ConfTube</a></td>
        </tr>
    </table>
</div>

{% endblock %}
