{% extends "page.html" %}

{% block bodycontents %}
{% markdown %}

# Contribute

A great conference is made by great contents. For great contents we need great sponsors. Please join us in making foss-north {{ data.general.confname }} the best foss-north of them all by helping us bring together the best sponsors, contents and audience!

<a name="papers" class="offsetanchor"></a>
## Call for Papers

{% if data.general.cfpopen %}
The Call for Papers is open until <b>{{ data.general.cfpenddate }}</b> and the final speakers are contacted on <b>{{ data.general.cfpnotifydate }}</b>. We are happy to sponsor travel expenses and accomodation, but cannot pay for your time. Please visit the <a href="{{ data.general.cfpurl }}">Call for Papers registration page</a> to make your contribution. This will take you to a login page. We use OAUTH2 for this and currently support GitHub and Google as ways to authenticate. Please contact us if you want us to add more providers.

The call for paper form consists of a title for the talk, an abstract, name and biography of the speaker, and preferred slot length (25 or 50 minutes, including Q&amp;A). We also reemburse travel costs if needed. Since we have a budget to work with, we ask for the approximate cost that you want us to reemburse.

<strong>Due to the COVID-19 situation, the conference will be virtual with live or pre-recorded talks, combined with live Q&amp;A sessions.</strong>
{% else %}
The call for paper is closed. The schedule will be made available shortly!
{% endif %}

Thank you for contributing!

<a name="projects" class="offsetanchor"></a>
## Call for Projects

Are you representing a project who is looking for a venue to do something? It can be a workshop, a development sprint, an install-fest or something completely different - you decide! If so, we would love for you to be a part of our <b>community day</b> which is held on <b>{{ data.general.communitydaydate }}</b>.

You bring the contents - we provide the venue. All the organizing participants gets a ticket discount for the conference on {{ data.general.conferencedaysdate }}.

<strong>Due to the COVID-19 situation, the community day will be virtual.</strong>

Do you want to be part of this? Contact johan@foss-north.se for details.

<a name="sponsors" class="offsetanchor"></a>
## Call for Sponsors

We want to create the meeting space for open source communities in the Nordic region. The foss-north event is one step on that path. Nothing of this would be possible by the support of our sponsors.

<strong>Due to the ongoing COVID-19 pandemic, the conference will be virtual. There will be no booths available..</strong>
 
We are looking for sponsors of all sizes to be a part of the foss-north event. We offer the following tiers: 

<div class="bodytext">
    <table class="table table-striped">
    <thead>
    <tr>
        <th class="leftalign">Benefit</th>
        <th>Base</th>
        <th>Silver</th>
        <th>Gold</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="leftalign">Cost</td>
        <td>10kSEK</td>
        <td>25kSEK</td>
        <td><strong>sold out</strong></td>
    </tr>
    <tr>
        <td class="leftalign">Availability</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>2</td>
    </tr>
    <tr>
        <td class="leftalign">Logo and link</td>
        <td>Yes, small</td>
        <td>Yes, large</td>
        <td>Yes, largest</td>
    </tr>
    <tr>
        <td class="leftalign">Mention in keynote</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td class="leftalign">Number of free tickets</td>
        <td>3</td>
        <td>5</td>
        <td>10</td>
    </tr>
    </tbody>
    </table>
</div>

<strike>We are also offering a limited number of booths for our sponsors. Please tell us if you are interested in this.</strike> We are out of exhibition space. Thank you all for the huge interest!

You find a more detailed information in our <a href="sponsorship-2021.pdf">sponsorship prospectus</a>. Prospective sponsors are welcome to contacting <a href="mailto:info@foss-north.se">info@foss-north.se</a>.

{% endmarkdown %}
{% endblock %}
