{% extends "page.html" %}
{% block bodycontents %}

<h1>Conference Schedule</h1>

<p>This is the provisional program for foss-north 2020.<br />
All sessions include time for Q&amp;A and to move between rooms.</p>

<p>[ <a href="#march29">March 29</a> | <a href="#march30">March 30</a> | <a href="#march31">March 31</a> | <a href="#april1">April 1</a> ]</p>

<a name="march29" class="offsetanchor"></a>
<h2>Sunday March 29</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot4" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="3" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=04fdab44-c898-4d76-aafd-0ed9f338bd40">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot5" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;17.00</td>
            <td >{% with slot="slot6" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<a name="march30" class="offsetanchor"></a>
<h2>Monday March 30</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot7" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="3" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=27544846-10ad-4afd-9c6c-bc3b05129e06">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot8" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot9" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot10" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="4" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=c8d3ea0e-f089-47d2-a08f-faa6c1d2b020">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;15.30</td>
            <td >{% with slot="slot11a" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">15.30&nbsp;-&nbsp;16.30</td>
            <td >{% with slot="slot12" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<a name="march31" class="offsetanchor"></a>
<h2>Tuesday March 31</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot13" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="3" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=7a99246b-7bad-4aa7-9387-30df2f337786">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot14" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot15" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot16" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="4" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=751d41f4-72fd-4bfe-aa26-8d8b0e8054c2">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;15.30</td>
            <td >{% with slot="slot17a" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">15.30&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot17b" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;17.00</td>
            <td >{% with slot="slot18" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<a name="april1" class="offsetanchor"></a>
<h2>Wednesday April 1</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;10.00</td>
            <td >{% with slot="slot19" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="3" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=d12841ff-60f8-4423-8c50-82428e495358">ConfTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">10.00&nbsp;-&nbsp;11.00</td>
            <td >{% with slot="slot20" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">11.00&nbsp;-&nbsp;12.00</td>
            <td >{% with slot="slot21" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;"></th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Stream</th>
        </tr>

        <tr>
            <td class="scheduletime">14.00&nbsp;-&nbsp;15.00</td>
            <td >{% with slot="slot22" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
            <td rowspan="3" class="scheduletime">
                <a href="https://conf.tube/videos/watch/playlist/4bd021ee-2221-4d70-a7c3-5f2663e92d79?videoId=d3af37bd-9877-48af-931a-6d75bb7133bb">ContTube</a>
            </td>
        </tr>

        <tr>
            <td class="scheduletime">15.00&nbsp;-&nbsp;16.00</td>
            <td >{% with slot="slot23" %}{% include "speaker-schedule-slot.html" %}{% endwith %}</td>
        </tr>

        <tr>
            <td class="scheduletime">16.00&nbsp;-&nbsp;16.10</td>
            <td>
                <div class="talktitle">Closing Words</div>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
