{% extends "covid-19-page.html" %}

{% block bodycontents %}

<h1>Tickets</h1>

<p>Get your ticket via the <a href="https://foss-north.se/events/2020/register/">ticket registration</a> page (requires the setup of an account).</p>

<p>Tickets bought before March 15 include lunch and coffee. Tickets are still sold until the day before the event, but does not include catering. We have ordered more food than we’ve sold tickets on March 15, so we hope to be able to provide food to all participants, but we cannot guarantee this due to lead times ordering supplies.</p>

<p>Tickets are sold in the following three categories:</p>

<div class="row">
    <div class="col-md-4">
        <div class="toptitle">Student Ticket</div>
        <div class="topsub">March 30-31</div>
        <p><b>200 SEK</b><br />Discounted conference tickets for students. A student ID is required when picking up the event badge.</p>
    </div>
    <div class="col-md-4">
        <div class="toptitle">Conference Ticket</div>
        <div class="topsub">March 30-31</div>
        <p><b>500 SEK</b><br />Conference tickets for non-student visitors.</p>
    </div>
    <div class="col-md-4">
        <div class="toptitle">Training Ticket</div>
        <div class="topsub">March 30 - April 1</div>
        <p><b>6250 SEK</b><br />Training day tickets. These tickets include access to the conference days, as well as one of the two <a href="trainingday.html">trainings</a> held on April 1</p>
    </div>
</div>

{% endblock %}
