{% extends "page.html" %}

{% block bodycontents %}
{% markdown %}

# Community Day


{% if data.general.covidcancelled %}
<div class="alert alert-danger" role="alert">
<p class="mb-0">foss-north {{ data.general.confname }} has been <strong>converted to a virtual conference due to the COVID situation</strong>.</p>
</div>
{% endif %}

{% if data.general.covidcancelled %}

The foss-north community day is a day of community activities around the foss-north event. Visit and explore the projects below!

{% else %}

The foss-north community day is a day of community activities taking place on <strong>{{ data.general.communitydaydate }}</strong>.

We have invited a number of projects to Gothenburg and provided them with venues. Now it is up to you to visit them and explore!

{% if communitydaymeetup %}
<b>This day is free of charge</b>, but we would be happy if you could <a href="https://www.meetup.com/foss-gbg/events/292401082/">RSVP this meetup</a> for us to know how many your are. Some of the projects also require you <b>register your participation</b>. See the descriptions below for more information.
{% endif %}

Notice that you do need to get one for the rest of the conference. Get your's <a href="tickets.html">here</a>!

<i>Please notice that the list below is tentative!</i>

## Map
{% endif %}
{% endmarkdown %}
{% if not data.general.covidcancelled %}

<style>
    img.olTileImage {
        max-width: none;
    }
</style>

<div id="mapdiv" style="height: 600px;"></div>

{% endif %}

<div class="bodybreak">&nbsp;</div>

{% markdown %}
## Projects
{% endmarkdown %}

{% if data.projects %}
{% for project in data.projects %}
    <a name="{{ project.short }}" class="offsetanchor"></a>
    <div class="row speakerrow">
        <div class="col-md-3">
            <div class="speaker-photo"><a href="{{ project.url }}"><img class="sp-image" src="images/project-{{ project.short }}.png" alt="{{ project.name }}"></a></div>
            {% if project.venue %}
            &nbsp;
            <div class="speaker-photo"><a href="{{ project.venueurl }}"><img class="sp-image" src="images/venue-{{ project.venue }}.png" alt="{{ project.venuename }}"></a></div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="name"><a class="projectlink" href="{{ project.url }}">{{ project.name | escape }}</a></div>

            <div class="links">
            <strong>{{ project.when }}</strong>
            {% if project.links %}
                    {% for link in project.links %}
                        &nbsp;-&nbsp;
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
            {% endif %}
            </div>
            
            {% for descr in project.description %}
            <div class="abstract">
                {{ descr }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endif %}

{% if not data.general.covidcancelled %}
<script src="js/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("mapdiv", { controls: [] });
    map.addLayer(new OpenLayers.Layer.OSM("OSM", ["https://a.tile.openstreetmap.org/${z}/${x}/${y}.png", "https://b.tile.openstreetmap.org/${z}/${x}/${y}.png", "https://c.tile.openstreetmap.org/${z}/${x}/${y}.png"] ));

    map.addControl(new OpenLayers.Control.PanZoomBar());
    map.addControl(new OpenLayers.Control.Permalink());
    map.addControl(new OpenLayers.Control.Permalink('permalink'));
    
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    
    var projection = new OpenLayers.Projection("EPSG:4326");
    {% if data.projects %}
    var icon = new OpenLayers.Icon("images/brand-logo.png");
    var marker;
    
    {% for project in data.projects %}
        /* Start of loop */
        marker = new OpenLayers.Marker(new OpenLayers.LonLat( {{ project.lon }}, {{ project.lat }} ).transform(projection, map.getProjectionObject()), icon.clone());
        marker.events.register("click", marker, function() { location.hash = "#{{ project.short }}"; });
        markers.addMarker(marker);
        /* End of loop */
    {% endfor %}
    {% endif %}

    map.setCenter(new OpenLayers.LonLat(11.9766646, 57.689343).transform(projection, map.getProjectionObject()), 13);
</script>
{% endif %}

{% endblock %}
