{% extends "page.html" %}
{% block bodycontents %}

<a name="top" class="offsetanchor"></a>
<h1>Conference Schedule</h1>


{% if data.general.covidcancelled %}
<div class="alert alert-danger" role="alert">
<p class="mb-0">foss-north {{ data.general.confname }} has been <strong>converted to a virtual conference due to the COVID situation</strong>.</p>
</div>
{% endif %}

<p>This is the provisional program for foss-north {{ data.general.confname }}.<br />
All sessions include time for Q&amp;A and to move between rooms.</p>

<p>[
{% for day in data.general.confdays %}
{% if not loop.first %}|{% endif %}
<a href='#{{ day.tag }}'>{{ day.name }}</a>
{% endfor %}
]</p>

<a name="apr24" class="offsetanchor"></a>
<h2>April 24</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Recordings</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;17.00</td>
            <td>TBD</td>
            <td>Recordings will be made available after the event</td>
        </tr>
    </table>
</div>

<p>Members of the FSFE legal network can continue by attending the members only <a href="https://fsfe.org/activities/ln/llw-conf.html">LLW conference</a> hosted by FSFE.</p>

<a name="apr25" class="offsetanchor"></a>
<h2>April 25</h2>

<p>[ <a href="#top">Back to top</a> ]</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th style="width:20%;" class="talkheading">Stockholm / UTC+2</th><th style="width:60%;" class="talkheading">Session</th><th style="width:20%;" class="talkheading">Recordings</th>
        </tr>

        <tr>
            <td class="scheduletime">9.00&nbsp;-&nbsp;17.00</td>
            <td>TBD</td>
            <td>Recordings will be made available after the event</td>
        </tr>
    </table>
</div>

<p>Members of the FSFE legal network can continue by attending the members only <a href="https://fsfe.org/activities/ln/llw-conf.html">LLW conference</a> hosted by FSFE.</p>

{% endblock %}
