{% extends "page.html" %}

{% block bodycontents %}

<h1>Tickets</h1>

{% if data.general.covidcancelled %}
<div class="alert alert-danger" role="alert">
<p class="mb-0">foss-north {{ data.general.confname }} has been <strong>converted to a virtual conference due to the COVID situation</strong>. No tickets will be required to attend such a virtual event.</p>
</div>
{% endif %}

<p>Get your ticket via the <a href="https://foss-north.se/events/2023/register/">ticket registration</a> page (requires the setup of an account).</p>

<p>Tickets bought before <strong>April 10th</strong> include lunch and coffee. Tickets are still sold until the day before the event, but does not include catering. We have ordered more food than we’ve sold tickets on April 10th, so we hope to be able to provide food to all participants, but we cannot guarantee this due to lead times ordering supplies.</p>

<p>Tickets are sold in the following categories:</p>

<div class="row">
    <div class="col-md-6">
        <div class="toptitle">Student Ticket</div>
        <div class="topsub">{{ data.general.conferencedaysdate }}</div>
        <p><b>300 SEK</b><br />Discounted conference tickets for students. A student ID is required when picking up the event badge.</p>
    </div>
    <div class="col-md-6">
        <div class="toptitle">Conference Ticket</div>
        <div class="topsub">{{ data.general.conferencedaysdate }}</div>
        <p><b>500 SEK</b><br />Conference tickets for non-student visitors.</p>
    </div>
</div>

<p><i>As this is the first year we offer a physical event since the pandemic we appreciate very much if you support us by getting a new ticket for 2023, but if you have a ticket from 2020 that you want to reactivate, please reach out to us at info@foss-north.se.</i></p>

{% endblock %}
